$logoH: 65px;
.sider {
  min-height: 100vh;
  box-shadow: 1px 0 4px rgba(0,21,41,.08);
  &-logo {
    height: $logoH;
    background: #022445;
    color: #fff;
    line-height: $logoH;
    text-align: center;
    font-size: 18px;

  }
  .el-menu {
    border-right: 0;
  }
  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 256px;
    min-height: 400px;
  }
  .menu-dark {
    .el-menu-item.is-active {
      background-color: var(--theme-color) !important;
      color: #fff !important;
    }
  }
  .menu-light {
    .sider-logo {
      border-bottom: 1px solid #e8e8e8;
      border-right: 1px solid #e8e8e8;
    }
    .el-menu-item:hover {
      background-color: transparent !important;
      color: #1890ff !important;
    }
    .el-menu-item.is-active {
      background-color: #e6f7ff !important;
      color: #1890ff !important;
    }
  }
  .cc-svg-icon {
    margin-right: 10px;
  }
}