.notice-container {
  @include flex(column);
  .notice-list {
    max-height: 400px;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .notice-item {
      box-sizing: border-box;
      width: 340px;
      padding: 12px 24px;
      border-bottom: 1px solid $border-base-color;
      overflow: hidden;
      cursor: pointer;
      transition: all .3s;
      @include flex(row);
      &:last-child {
        border-bottom: 0;
      }
      &-avatar {
        margin-right: 16px;
        &-icon {
          display: block;
          @include wh(32px);
        }
      }
      &-content {
        &-title {
          margin-bottom: 5px;
          color: rgba(0,0,0,.65);
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
        }
        &-description {
          color: rgba(0,0,0,.45);
          font-size: 14px;
          line-height: 22px;
        }
      }
      &:hover {
        background: #e6f7ff;
      }
    }
  }

  .notice-list-bottomBar {
    height: 46px;
    line-height: 46px;
    @include flex(row);
    > div {
      flex: 1;
      display: inline-block;
      cursor: pointer;
      transition: all .3s;
      color: rgba(0,0,0,.65);
      text-align: center;
      border-top: 1px solid $border-base-color;
      &:first-child {
        border-right: 1px solid $border-base-color;
      }
      &:hover {
        color: rgba(0,0,0,.85);
      }
    }
  }

}