.fade-move-enter-active,.fade-move-leave-active {
  transition: .3s all ease;
}
  // position: absolute
.fade-move-enter,.fade-move-leave-to {
  opacity: 0;
  transform: translateX(-100px);
}
.fade-move-enter-to,.fade-move-leave {
  opacity: 1;
  transform: translateX(0);
}